.list-row{
  width:100%;
  height: 50px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#4545454b;
  transition: all .3s;
  &:hover{
    background-color: rgba(69, 69, 69, 0.185);
    .fa-eye{
      color:var(--success-color)
    }
    .fa-trash-alt{
      color:var(--danger-color)
    }
  }

  p{
    margin: 0;
  }
  i{
    transition: all .3s;
    font-size: 1.5rem;
    margin: 0 10px;
    cursor: pointer;
    &:hover{
      transform:scale(1.05)
    }
  }

  .box-filter-input{
    width: 50%;
    position:relative;
    border: 1px solid rgba(0, 0, 0, 0.329);
    padding: 5px;
    margin:5px 0;
    border-radius: 10px;
    @include phone {
      width: 100%;
    }
    .filter-input{
      margin-left:30px;
    }
    .fa-search{
      color:rgba(0, 0, 0, 0.329);
    }
  }
}
