.article-card-content {
  border-radius: 5px;
  margin:2rem;
  width: 20rem;
  height: 17rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.377);
  transition: all .3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:hover{
    transform: scale(1.03);
  }
  .img-box{
    padding: 20px 10px 10px;
    .card-title{
      width: 100%;
    }
  }
  .card_body{
    padding: 10px;
    .author{
      cursor: pointer;
      transition: all .3s;
      &:hover{
        color: var(--sec-color);
      }
    }
  }
}