.article-card {
  width: 30%;
  height: 38em;
  border: solid black;
  margin: 1.5em;

  img {
    pointer-events: none;
    cursor: default;
  }

  .img-box{
    width: 100%;
    img{
      width: 100%;
      object-fit: contain;
    }
  }

  .author {
    color: var(--prim-color);
  }

  .card-body {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}