footer {
  background-color: var(--basic-color-white);
}

footer section .container .row{

  h6{
    @include phone{
    text-align:center;
    }
  }
  .about-footer{
    @include phone{
      margin-left: -55px;
    }
  }
  .follownut-footer{
    @include phone{
      margin-left: -35px;
    }
  }
}
@media screen and (width: 768px) {
  footer .row{
    display: block;
  }
  footer .row div{
    width: 50%;
    text-align: center;
  }
}