.jumbotron {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.jb-signup {
  background-image: linear-gradient(to bottom, var(--jumbotron-up) 0%, var(--jumbotron-down) 100%), url(../../assets/images/patient-signup-background.jpg);
}
.jb-login {
  background-image: linear-gradient(to bottom, var(--jumbotron-up) 0%, var(--jumbotron-down) 100%), url(../../assets/images/running-login-page.jpg);
}
.jb-forgotten {
  background-image: linear-gradient(to bottom, var(--jumbotron-up) 0%, var(--jumbotron-down) 100%), url(../../assets/images/fg-pw2.jpg);
}