.boxsizing-width-mini-menu{
  width: 10%;
  height: 90%;
  position: absolute;
  .small-menu-left{
    background-color: $transparency-primary-color;
    width: 50%;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    .ico-user{
      background-image: url("../../assets/images/icoUser.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 100%;
      height: 10%;
      cursor: pointer;
      padding: 0;
    }
    .ico-user:hover{
      border-right: 3px solid $warning;
    }
    .ico-heart{
      background-image: url("../../assets/images/icoDashBoard.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 100%;
      height: 10%;
      cursor: pointer;
    }
    .ico-heart:hover{
      border-right: 3px solid $warning;
    }
    .ico-exclamation{
      background-image: url("../../assets/images/icoExclamation.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 100%;
      height: 10%;
      cursor: pointer;
    }
    .ico-exclamation:hover{
      border-right: 3px solid $warning;
    }
  }
  .small-menu-left:hover{
    width: 100%;
    z-index: 10;
    transition: all 0.5s ease-in-out ;
  }
}
