
//Patient List
@media screen and (max-width: 682px) {
  .patient-list-header-first{
    display: flex;
    flex-direction: column;
  }
  .patient-list-header-first h2{
    text-align: center;
  }
  .patient-list-header-first .add-patient{
    text-align: center;
  }
}
//Patient Rédiger un compte-rendu

@media screen and (max-width: 682px) {
  .create-appointment-form h1{
    text-align: center;
  }
  .create-appointment-form{
    margin: 0 !important;
  }
}