
.menu-profile-patient {

  .list-menu-patient{
    display: flex;
    justify-content: space-around;
    color: $primary-color;
    margin-top: 30px;
  }
  .list-menu-patient li{
    font-size: 25px;
  }
  .list-menu-patient li:hover{
    border-bottom: 2px solid $transparency-primary-color;
    cursor: pointer;
  }

  .resizing-box-line-graphic{
    display: flex;
    justify-content: center;
    .line-graphic{
      width: 40%;
    }

  }
}