.background-of-dashboard-patient{
  background-color: $secondary-color;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .data-patient{
    border-radius: 0px 0px 15px 15px;
    background-color: $primary-color;
    color: white;
    padding: 15px;
  }
  
}


