.dashboard-page{
  width: 100vw;
  display: flex;
  flex-wrap: row nowrap;
  width: 100%;
  justify-content: space-around;
  min-height: 100vh;
  padding-top: 70px;

  .dashboard-page-right{
    width: 100%;
    height: 100%;
    padding:15px;

    .tab-content{
      border-left:1px solid #dee2e6;
      border-right:1px solid #dee2e6;
      border-bottom:1px solid #dee2e6;
      width: calc(100% - 30px);
      height: calc(100% - 30px);
    }
    .nav-tabs{
      width: calc(100% - 30px);
    }
    h1{
      margin: 2%;
      @include phone{
        margin: 0;
        text-align: center;
      }
    }
    .patient-charts{
      margin: 2%;

      @include phone{
        padding: 0;
        margin: 0;
      }
    }

  }
  .create-appointment-form .appointment-form .control-first-part{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    @include phone{
      display: flex;
    }
  }
  .create-appointment-form .appointment-form .control-third-part{
    @include phone{
      display: flex;
    }
  }
  .create-appointment-form .creer-button{
    @include phone{
      display: flex;
      justify-content: center;
      align-items: center
    }
  }
  .create-appointment-form .appointment-form div{
    @include phone{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
