.home {

  .section {
    min-width: 100vw;
    min-height: 65vh;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;

    .section1-left {
      width: 50%;
    }

    .section1-right {
      width: 50%;
    }
  
    .section2-left {
      width: 60%;
      border: solid black;
    }

    .section2-right {
      width: 40%;
      border: solid black;
    }

    .sub-section {
      width: 33%;
      height: 15em;
      padding-left: 3%;
      padding-right: 3%;
      border: solid black;
    }
  }
}