.home {
  background-color: var(--primery-color);
  .dark-filter{
    filter: grayscale(70%);
  }
  img {
    pointer-events: none;
    cursor: default;
  }
  .section {
    min-width: 100vw;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: row;
    @include phone {
      flex-direction: column;
      align-items: center;
      padding: 15px;
    }
    .section1-left {
      width: 50%;
      @include phone{
        width: 100%;
        text-align: center;
      }
    }
    .section1-left h5{
      @include phone{
        text-align: center;
        padding: 15px;
      }
    }

    .section1-right {
      width: 50%;
      @include phone{
        width: 100%;
      }
      img.appointement {
        width: 100%;
        object-fit: contain;
      }
    }
    .section3-left {
      width: 50%;
      @include phone{
        width: 100%;
        text-align: center;
      }
      img.img-container {
        width: 100%;
        object-fit: contain;
      }
    }
    .section3-right {
      width: 40%;
      text-align: center;
      margin-right: -20px;
      @include phone{
        width: 80%;
        text-align: center;
      }
      h6{
        text-align: center;
        margin-right: -20px;
        @include phone {
          text-align: center;
        }
      }
    }
    .sub-section {
      width: 33%;
      padding-left: 3%;
      padding-right: 3%;
      @include phone{
        width: 100%;
      }
      h4, p{
        @include phone{
          text-align: center;
        }
      }
    }
    .img-box{
      width: 100%;
      height: 15rem;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .link {
      color: var(--basic-color-white);
      text-decoration: none;

      &:hover {
        color: var(--transparency-prim-color);
      }
    }
  }
}

//Home
@media screen and (max-width: 582px) {
  .home .section{
    width: 100%;
    padding: 10px !important;
  }
  .home .section1-left{
    margin-top: 5px;
    width: 100% !important;
    text-align: center;
    padding: 0px;
  }
  .home .section1-left h5{
    margin-top: 5px;
    width: 100% !important;
    text-align: center;
    padding: 0px;
  }
  .div-btn-home-responsive div{
    // width: 50%;
    justify-content: center;
  }
  .section1-right{
    width: 100% !important;
  }
  .sub-section{
    width: 100% !important;
  }
  .sub-section h4{
    text-align: center;
  }
  .sub-section p{
    text-align: center;
  }
  .home .section3-left{
    width: 100% !important;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .home .section3-right{
    width: 100% !important;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .home .section3-right h1{
    text-align: center;
    padding: 0px !important;
    margin: 0;
    width: 90% !important;
    margin-left: 15px;
  }
  .home .section3-right h6{
        text-align: center;
    padding: 0px !important;
    margin: 0;
    width: 100% !important;
  }
  .home .section3-right a{
    text-align: center;
  }
}