.home {
  img {
    pointer-events: none;
    cursor: default;
}
  .section {
    min-width: 100vw;
    min-height: 65vh;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    flex-direction: row;
    @include phone {
      flex-direction: column;
      align-items: center;
    }

    .section1-left {
      width: 50%;
      @include phone{
        width: 60%;
      }
    }

    .section1-right {
      width: 50%;
      @include phone{
        width: 60%;
      }

      img.appointement {
        width: 100%;
      }

    }
  
    .section3-left {
      width: 60%;
      @include phone{
        width: 60%;
      }

      img.calendar {
        width: 95%;
        border-radius: 50%;
      }
    }

    .section3-right {
      width: 40%;
      @include phone{
        width: 60%;
      }
    }

    .sub-section {
      width: 33%;
      padding-left: 3%;
      padding-right: 3%;
      @include phone{
        width: 60%;
      }
    }

    .img-box{
      width: 100%;
      height: 15rem;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .link {
      color: $primary-color;

      &:hover {
        color: $transparency-primary-color;
      }
    }
  }
}