.nutritionists{
  input{
    padding: 0px 15px;
  }
  .box{
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    overflow: auto;
  }
  .basic-card{
    position: relative;
  }
  .take-appointment{
    position: absolute;
    right: 10px;
    bottom: 0;
    @media (max-width:350px){
      top:62%;
      bottom: auto;
    }
  }
}