.forgotten-password-patient .patient-forgotten-form {
  @include phone {
    margin-right: -25px;
  }
  h1{
    @include phone{
      text-align: center;
    }
  }
  p{
    @include phone{
      text-align: center;
    }
  }
}
//Nutritionist
.forgotten-password-nutritionist .nutritionist-forgotten-form {
  @include phone {
    margin-right: -25px;
  }

  h1{
    @include phone{
      text-align: center;
    }
  }
  p{
    @include phone{
      text-align: center;
    }
  }
}
//===
.welcome-text{
  @include phone{
    margin-right: -25px;
    text-align: center;
  }

}