.background-of-edit-profile{
  background-color: $secondary-color;
  height: 47em;
  padding: 70px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .content-edit-profile{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .form-control:focus {
      box-shadow: none;
      border-color: #BA68C8;
    }
    .labels {
     font-size: 11px;
    }
    .profile-button {
      background: rgb(99, 39, 120);
      box-shadow: none;
      border: none;
    }
    .profile-button:hover {
      background: #682773;
    }
    .profile-button:focus {
      background: #682773;
      box-shadow: none;
    }
    .profile-button:active {
      background: #682773;
      box-shadow: none;
    }
  }
}





