.signup-patient .jumbotron div{
  @include phone{
    margin-right: -12px;
  }
  h1{
    margin-right: -30px;
  }
  h5{
    text-align: center;
  }
}
.signup-nutritionist .jumbotron div{
  @include phone{
    margin-right: -12px;
  }
  h1{
    margin-right: -30px;
  }
  h5{
    text-align: center;
  }
}