.login-patient .patient-signup-form {
  @include phone {
    margin-right: -25px;
  }
  h5{
    @include phone{
      text-align: center;
    }
  }
}
//Nutritionist
.login-nutritionist .nutritionist-signup-form {
  @include phone {
    margin-right: -25px;
  }
  h5{
    @include phone{
      text-align: center;
    }
  }
}
//===
.welcome-text{
  @include phone{
    margin-right: -25px;
  }

}