@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ VARIABLES $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ VARIABLES $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ VARIABLES $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$


// -------------------- FONTS VARIABLES -------------------- //
$primary-font: "Hind";

// -------------------- COLORS VARIABLES -------------------- //

// ----- DAY MODE ----- //
$basic-color-white:#ffffff;
$basic-color-grey: #adb2b8;
$basic-color-dark:#292929;
$modal-bg: rgba(0, 0, 0, 0.726);
$modal-bg-dark: rgba(255, 255, 255, 0.726);

$prim-color: #002bba;
$transparency-prim-color: rgba(0, 43, 186, 0.7);
$sec-color: #91B2E2;
$transparency-sec-color: rgba(145, 178, 226, 0.9);
$third-color: #FFBF00;
$success: #5DA271;
$danger: #fb3333;
$warning: #efef5b;
$footer-color:#ebebeb;


// Deep Shade Colors //
$prim-color-deep: #002295;
$transparency-prim-color-deep: rgba(0, 34, 149, 0.7);
$sec-color-deep: #748eb5;
$transparency-sec-color-deep: rgba(116, 142, 181, 0.9);
$third-color-deep:#cc9900;
$success-deep:#4a825a;
$danger-deep:#c92929;
$warning-deep:#e8e815;


// Light Shade Colors //
$prim-color-light: #3355c8;
$transparency-prim-color-light: rgba(51, 85, 200, 0.7);
$sec-color-light: #a7c1e8;
$transparency-sec-color-light: rgba(185, 205, 237, 0.9);
$third-color-light: #ffcc33;
$success-light:#7db58d;
$danger-light:#fc5c5c;
$warning-light:#f1f173;

// Jumbotron colors
$jb-u-n:rgba(0,0,0,0.2);
$jb-d-n:rgba(0,0,0,0.6);


// ----- NIGHT MODE (DARK) ----- //


$prim-color-dark: #ffffff;
$transparency-prim-color-dark: rgba(255, 255, 255, 0.7);
$sec-color-dark: #383838;
$transparency-sec-color-dark: rgba(231, 231, 231, 0.9);
$third-color-dark: #b8b8b8;
$success-dark: #7db58d;
$danger-dark: #fc5c5c;
$warning-dark: #f1f173;
$footer-color-dark:#7e7e7e;

// Deep Shade Colors (DARK) //

$prim-color-deep-dark: #002295;
$transparency-prim-color-deep-dark: rgba(0, 17, 74, 0.7);
$sec-color-deep-dark: #748eb5;
$transparency-sec-color-deep-dark: rgba(116, 142, 181, 0.9);
$third-color-deep-dark:#cc9900;
$success-deep-dark:#4a825a;
$danger-deep-dark:#c92929;
$warning-deep-dark:#e8e815;


// Light Shade Colors (DARK) //
$prim-color-light-dark: #3355c8;
$transparency-prim-color-light-dark: rgba(51, 85, 200, 0.7);
$sec-color-light-dark: #a7c1e8;
$transparency-sec-color-light-dark: rgba(185, 205, 237, 0.9);
$third-color-light-dark: #ffcc33;
$success-light-dark:#7db58d;
$danger-light-dark:#fc5c5c;
$warning-light-dark:#f1f173;

// Jumbotron colors
$jb-u-d:rgba(0,0,0,0.5);
$jb-d-d:rgba(0,0,0,0.9);

// Other variables & mixin //
$phone-viewport:800px;

@mixin phone {
  @media (max-width: $phone-viewport) { @content; }
}

// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
:root{

  --modal-background:#{$modal-bg};
  --modal-color:#{$basic-color-white};
  --basic-color-white:#{$basic-color-white};
  --basic-color-grey:#{$basic-color-grey};
  --basic-color-dark:#{$basic-color-dark};

  --prim-color:#{$prim-color};
  --transparency-prim-color:#{$transparency-prim-color};
  --sec-color:#{$sec-color};
  --transparency-sec-color: #{$transparency-sec-color};
  --third-color:#{$third-color};
  --success-color:#{$success};
  --danger-color:#{$danger};
  --warning-color:#{$warning};
  --footer-color:#{$footer-color};

  --prim-color-deep:#{$prim-color-deep};
  --transparency-prim-color-deep:#{$transparency-prim-color-deep};
  --sec-color-deep:#{$sec-color-deep};
  --transparency-sec-color-deep: #{$transparency-sec-color-deep};
  --third-color-deep:#{$third-color-deep};
  --success-color-deep:#{$success-deep};
  --danger-color-deep:#{$danger-deep};
  --warning-color-deep:#{$warning-deep};

  --prim-color-light:#{$prim-color-light};
  --transparency-prim-color-light:#{$transparency-prim-color-light};
  --sec-color-light:#{$sec-color-light};
  --transparency-sec-color-light: #{$transparency-sec-color-light};
  --third-color-light:#{$third-color-light};
  --success-color-light:#{$success-light};
  --danger-color-light:#{$danger-light};
  --warning-color-light:#{$warning-light};

  --jumbotron-up:#{$jb-u-n};
  --jumbotron-down:#{$jb-d-n};

}
.dark-mode{

  --modal-background:#{$modal-bg-dark};
  --modal-color:#{$basic-color-dark};
  --basic-color-white:#{$basic-color-dark};
  --basic-color-grey:#{$basic-color-grey};
  --basic-color-dark:#{$basic-color-white};

  --prim-color:#{$prim-color-dark};
  --transparency-prim-color:#{$transparency-prim-color-dark};
  --sec-color:#{$sec-color-dark};
  --transparency-sec-color: #{$transparency-sec-color-dark};
  --third-color:#{$third-color-dark};
  --success-color:#{$success-dark};
  --danger-color:#{$danger-dark};
  --warning-color:#{$warning-dark};
  --footer-color:#{$footer-color-dark};

  --prim-color-deep:#{$prim-color-deep-dark};
  --transparency-prim-color-deep:#{$transparency-prim-color-deep-dark};
  --sec-color-deep:#{$sec-color-deep-dark};
  --transparency-sec-color-deep: #{$transparency-sec-color-deep-dark};
  --third-color-deep:#{$third-color-deep-dark};
  --success-color-deep:#{$success-deep-dark};
  --danger-color-deep:#{$danger-deep-dark};
  --warning-color-deep:#{$warning-deep-dark};

  --prim-color-light:#{$prim-color-light-dark};
  --transparency-prim-color-light:#{$transparency-prim-color-light-dark};
  --sec-color-light:#{$sec-color-light-dark};
  --transparency-sec-color-light: #{$transparency-sec-color-light-dark};
  --third-color-light:#{$third-color-light-dark};
  --success-color-light:#{$success-light-dark};
  --danger-color-light:#{$danger-light-dark};
  --warning-color-light:#{$warning-light-dark};

  --jumbotron-up:#{$jb-u-d};
  --jumbotron-down:#{$jb-d-d};

}
// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$


// All app CSS //

#root {
  background-color: var(--basic-color-white);
}

*{
  font-family: $primary-font;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;

  a {
    color: var(--basic-color-white);
  }
  a:hover {
     color: var(--sec-color);
  }
}

body{

  background-color: var(--basic-color-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none; 
  &::-webkit-scrollbar {
    display: none;
  }
}

.page-padding {
  padding-top: 70px;
  min-height: 100vh;
}

// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ UI KIT $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ UI KIT $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ UI KIT $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$


// -------------------- BUTTONS -------------------- //

.button-styling {
  text-align: center;
  width: 300px;
  border-radius: 5px;
}

.primary-button {
  background-color: var(--prim-color);
  color: var(--basic-color-white);
  text-decoration: none;
  text-decoration: none;

  &:hover {
    background-color: var(--basic-color-white);
  }
}

.outline-primary-button {
  background-color: var(--basic-color-white);
  border-color: var(--prim-color);
  text-decoration: none;
  color: var(--prim-color);

  &:hover {
    border-width: 1.5px;
    border-color: var(--prim-color);
    color: var(--prim-color);
  }
}

.secondary-button {
  background-color: var(--sec-color);
  color: black;
  text-decoration: none;
  

  &:hover {
    background-color: var(--sec-color-deep);
  }
}

.third-button {
  background-color: var(--third-color);
  text-decoration: none;

  &:hover {
    background-color: var(--third-color-light);
  }
}

.success-button {
  background-color: var(--success-color);
  text-decoration: none;
  color: var(--basic-color-white);

  &:hover {
    background-color: var(--success-color-deep);
    color: var(--basic-color-white);
  }
}

.danger-button {
  background-color: var(--danger-color);
  text-decoration: none;
  color: var(--sec-color);

  &:hover {
    background-color: var(--danger-color-deep);
    color: var(--sec-color);
  }
}

.warning-button {
  background-color: var(--warning-color);
  text-decoration: none;

  &:hover {
    background-color: var(--warning-color-deep);
  }
}

// -------------------- HEADERS -------------------- //

h1 {
  line-height: 1.6em;
  color: var(--prim-color);
}

h2 {
  line-height: 1.6em;
  color: var(--prim-color);
}

h3 {
  line-height: 1.5em;
  color: var(--prim-color);
}

h4 {
  line-height: 1.5em;
  color: var(--prim-color);
}

h5 {
  line-height: 1.4em;
  text-align: justify;
  color: var(--prim-color);
}

h6 {
  line-height: 1.4em;
  text-align: justify;
  color: var(--prim-color);
}

p {
  color: var(--prim-color);
}


div {
  color: var(--prim-color);
}



// -------------------- TEXT COLORS -------------------- //

.text-primary-color {
  color: var(--prim-color);
}

.text-secondary-color {
  color: var(--sec-color);
}

.text-third-color {
  color: var(--third-color);
}

.text-success-color {
  color: var(--success-color);
}

.text-danger-color {
  color: var(--danger-color);
}

.text-warning-color {
  color: var(--warning-color)
}

.text-white-color {
  color: $basic-color-white;
}

.b-underline {
  text-decoration: underline var(--prim-color);
}


// -------------------- BACKGROUNDS -------------------- //
.bg-blue {
  background-color: var(--sec-color);
}


// -------------------- BOXES -------------------- //

.form-container {
  background: var(--transparency-prim-color-deep);
  border-radius: 10px;
  padding: 0.5rem 3rem;
  width: 35em;
}

.details-container {
  background-color: var(--sec-color);
  border-radius: 10px;

  @media screen and (max-width: 480px){
    max-width: 220px;
  }
  
}

.details-container-alt {
  background-color: var(--basic-color-white);
  border-radius: 10px;
}

// -------------------- CARD -------------------- //

.basic-card {
  width: 20rem;
  height: 33rem;
  margin: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.326);
  transition: all .5s;
  border-radius: 25px;
  cursor: pointer;
  &:hover{
    transform: scale(1.03);
  }
  
  img {
    pointer-events: none;
    cursor: default;
  }

  .img-box{
    border-radius: 25px 25px 0 0;
    overflow: hidden;
    width: 100%;
    height: 70%;
    background-size: cover;

    img{
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card-body {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3, p {
      color: var(--prim-color);
    }
  }
}

// -------------------- MODALS -------------------- //

.read-modal{
  position: fixed;
  height: 100vh;
  overflow-y: hidden;
  top:0;
  background-color: var(--modal-background);
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all .5s;

  .fa-times{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ffff;
    font-size: 1.5rem;
  }
  .download-btn{
    font-size: 1.2rem;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom:10px;
    right: 10px;
    border-radius: 50px;
    color: #ffff;
    background-color: rgb(129, 134, 254);
    &:hover{
      background-color: var(--third-color);
    }
  }

  .content{
    position: absolute;
    width: 75%;
    height: 75%;
    overflow-y: auto;
    border-radius: 10px;
    background-color: var(--modal-color);
    box-shadow: 0 0 20px #454545;;
    color:#454545;
    position: relative;
  }
}

.visible-modal {
  opacity: 1;
  visibility: visible;
}

// -------------------- TABLES -------------------- //

.patient-table {
  width: 100%;
  margin-bottom: 1rem;
  color: var(--prim-color);
  vertical-align: top;
  border-color: var(--basic-color-white);

  tbody {
    tr {
      &:hover {
        background-color: var(--third-color);
      }
    }
  }
}

td {
  word-wrap: break-word;
  max-width: 100px;
}

th {
  max-width: 60px;
}

.table-icons-center {
  text-align: center;
}

@media screen and (max-width: 480px){
  .hidden-on-mobile{
    display: none;
  }
}

// -------------------- FORMS -------------------- //

.input-display {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: var(--basic-color-dark);
  background-color: var(--basic-color-white);
  background-clip: padding-box;
  border: 1px solid var(--basic-color-grey);
  border-radius: 0.25rem;
  width: 100%;
  height: 2.5rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.textarea-display {
  height: 10rem;
}

.search-input {
  background-color: transparent;
}

.bottom-search {
  border-bottom: var(--sec-color) solid 2px;
}



// -------------------- ICONS -------------------- //
.pointer-clickable {
  cursor: pointer;
}
// -------------------- ICONS -------------------- //
